# Logger
LOG_LEVEL=#error|warn|info|http|debug
LOG_DIR=

# Server
PORT=
HOST=

# Database
DB_USER=username
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=27017
DB_NAME=auth-api

# JWT
JWT_SECRET=your-secret-key
JWT_REFRESH_SECRET=your-refresh-secret-key
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
